<nav class="navbar">
    <a class="navbar-brand" href="/">Domain WebUI</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a onclick="lobotomize()" href="javascript:void(0)">
                <button class="btn btn-primary">
                    <span class="material-symbols-rounded">restart_alt</span>
                    Reset History
                </button>
            </a>
            <a href="javascript:void(0)" onclick="garbageCollect()">
                <button class="btn btn-outline-primary">
                    <span class="material-symbols-rounded">recycling</span>
                    Garbage Collect
                </button>
            </a>
        </li>
    </ul>
</nav>
<script src="/js/navjs.js"></script>