<footer class="text-center text-muted p-3" style="flex-shrink: 0;">
    <small><a href="https://github.com/QwIT-Development/Domain">Domain-Unchained</a> <span id="version"></span></small>
</footer>

<script src="/js/socket.js"></script>
</body>
</html>
