<footer class="text-center text-gray-500 py-6 mt-8 border-t border-domain-border">
    <small>
        <a href="https://github.com/QwIT-Development/Domain" class="text-domain-red hover:text-red-400 transition-colors">
            Domain-Unchained
        </a>
        <span id="version" class="text-gray-400"></span>
    </small>
</footer>

<script src="/js/socket.js"></script>
</body>
</html>
