<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain WebUI</title>
    <link rel="stylesheet" href="/css/kitten.css">
    <style>
        .log-entry {
            font-family: monospace;
            white-space: pre;
            margin-bottom: 2px;
        }
        .log-info { color: #29ABE2; }
        .log-info-warn { color: black; background-color: #eeeeee; font-weight: bold; }
        .log-warn { color: #FFD700; font-weight: bold; }
        .log-error { color: white; background-color: #E74C3C; font-weight: bold; }
        .log-ignorable-err { color: #7f8c8d; background-color: #eeeeee; }

        #logs-container {
            max-height: 300px;
            overflow-y: auto;
            overflow-x: auto;
            background-color: #2b2b2b;
            padding: 10px;
            border-radius: 4px;
        }

    </style>
</head>
<body>
<%- include('navbar') %>