<%- include('partials/head') %>
<main class="container mt-4">
    <p>We encourage fair game, but yes, you can cheat.</p>
    <div class="row">
        <div class="col col-md col-lg">
            <div class="card">
                <div class="card-header">
                    <img src="https://placehold.co/400x400.png" alt="pfp" width="32px">
                    <p style="margin-bottom: 0">Username</p>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="numberInput">Score:</label>
                        <input type="number" class="form-control" id="numberInput" name="numberInput" value="0" max="1000" min="-1000">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') %>